<form [formGroup]="formGroup">
  <div class="p-fluid formgrid grid">
    <div class="field col-12 md:col-12">
      <label>Titre</label>
      <input pInputText [formControlName]="'title'"/>
      <small *ngIf="formGroup.value.title !== null && formGroup.value.title.length === 0" class="p-error">Veuillez entrer un titre.</small>
    </div>
    <div class="field col-12 md:col-12">
      <label>Description</label>
      <textarea pInputTextarea [autoResize]="true" [formControlName]="'description'"></textarea>
      <small *ngIf="formGroup.value.description !== null && formGroup.value.description.length === 0" class="p-error">Veuillez entrer une description.</small>
    </div>
  </div>
</form>
<div class="flex justify-content-end flex-wrap">
  <button pButton pRipple label="Annuler" icon="pi pi-times" class="flex align-items-center justify-content-center p-button-danger mr-2" (click)="cancel($event)"></button>
  <button pButton pRipple label="Valider" icon="pi pi-check" class="flex align-items-center justify-content-center p-button-success" [disabled]="formGroup.invalid" (click)="save()"></button>
</div>

<p-confirmPopup></p-confirmPopup>
